!!! html
%html
  %head
    %title amazeballs
    %link{href: 'main.css', media: 'screen', rel: 'stylesheet', type: 'text/css'}

  %body
    #app
      %h1 Amazeballs Playlist
    %script{src: 'http://connect.soundcloud.com/sdk.js'}
    %script{src: 'main.js', type: 'text/javascript'}
